@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');

* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Space Grotesk', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-welcome {
  background-image: url("/src/assets/Logos/KEEZ Protocol Hero Banner Image.png");
  height: 80%;
  width: auto;
  background-position: 50% 50%;
  background-attachment:fixed;

}
.bg-other {
  background: linear-gradient(90deg, rgba(129,108,255,1) 5%, rgba(120,208,254,1) 19%, rgba(167,146,223,1) 34%, rgba(138,209,255,1) 69%, rgba(143,200,227,1) 77%, rgba(104,142,255,1) 100%);

}


.textShadow {
  text-shadow: 2px 2px 2px rgba(129,108,255,1);
}

::-webkit-scrollbar {
  width: 14px;

}

::-webkit-scrollbar-thumb {
  background-color: #746f6f;
  background-clip: padding-box;
  border: 2px solid #4E4E50;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8f8989;
}

::-webkit-scrollbar-track {
  background-color: #4E4E50;
}

::-webkit-scrollbar-button:single-button {
  background-color: #4E4E50;
  background-size: 8px;
  background-repeat: no-repeat;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  height: 10px;
  width: 10px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(116, 111, 111)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(143, 137, 137)'><polygon points='50,00 0,50 100,50'/></svg>");
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  height: 10px;
  width: 10px;
  background-position: center 4px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(116, 111, 111)'><polygon points='0,0 100,0 50,50'/></svg>");
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100' fill='rgb(143, 137, 137)'><polygon points='0,0 100,0 50,50'/></svg>");
}


.menus {
  display: flex;
  list-style: none;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

.menu-items a,
.menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #f2f2f2;
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: auto;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #fff;
  border-radius: 0.5rem;
  display: none;
}

.dropdown.show {
  display: block;
}

.dropdown .dropdown-submenu {
  position: absolute;
  left: 100%;
  top: -7px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

